In [5]:
import pandas as pd
import numpy as np

df1=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test.csv")
df2=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test_new.csv")

df_original=pd.DataFrame(df1)
df_new=pd.DataFrame(df2)

df_original.head()

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,1,殷葦婷,NaN,NaN,NaN,NaN,13816630288@163.con,20.0,CN,上海市,NaN,中國大陸上海市長寧區香花橋路38弄7號401室,NaN,13816630288,NaN,NaN,1,NULL\r
1,2,郭敬子,NaN,1.0,NaN,NaN,jimkuo49@gmail.com,200.0,TW,基隆市,仁愛區,基隆市仁愛區愛七路53號3樓,918136219,NaN,NaN,NaN,1,NULL\r
2,3,陳仕俍,NaN,NaN,NaN,NaN,gelintex@ms27.hinet.net,205.0,TW,基隆市,暖暖區,基隆市暖暖區暖碇路169號11樓,920521092,02-24573016,NaN,NaN,1,NULL\r
3,4,郭珈郗,NaN,NaN,NaN,NaN,grcekwk@gmail.com,NaN,HK,NaN,NaN,香港九龍官塘順安村安群樓514室,NaN,(+852)35929419,NaN,NaN,1,NULL\r
4,5,陸大文,NaN,1.0,1954/5/26,NaN,kathyhung168@gmail.com,105.0,TW,台北市,松山區,台北市松山區復興北路99號3樓,0918-032-920,02-25478801,A101653944,NaN,1,NULL\r

In [22]:
df_new

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,1,殷葦婷,we-ting,NaN,NaN,NaN,13816630288@163.con,20.0,CN,上海市,NaN,中國大陸上海市長寧區香花橋路38弄7號401室,NaN,13816630288,NaN,NaN,1,NULL\r
1,2,郭敬子,NaN,1.0,NaN,NaN,jimkuo49@gmail.com,200.0,TW,基隆市,仁愛區,基隆市仁愛區愛七路53號3樓,918136219,NaN,NaN,NaN,1,NULL\r
2,3,陳仕俍,NaN,NaN,1993/10/3,NaN,NaN,205.0,TW,基隆市,暖暖區,基隆市暖暖區暖碇路169號11樓,920521092,02-24573016,NaN,NaN,1,NULL\r
3,4,郭珈郗,NaN,2.0,NaN,NaN,grcekwk@gmail.com,NaN,HK,NaN,NaN,香港九龍官塘順安村安群樓514室,NaN,(+852)35929419,NaN,NaN,1,NULL\r
4,5,陸大文,NaN,1.0,1954/5/26,NaN,humphrey,105.0,TW,台北市,松山區,台北市松山區復興北路99號3樓,0918-032-920,02-25478801,A101653944,NaN,1,NULL\r
5,6,鄧淑珠,NaN,NaN,1962/5/10,NaN,NaN,100.0,TW,台北市,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,NULL\r

In [21]:
import pandas as pd
import numpy as np

df1=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test.csv")
df2=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test_new.csv")

df_original=pd.DataFrame(df1)
df_new=pd.DataFrame(df2)

for i, row in df_original.iterrows():
    while i < 3:
        print(f'i = {i}')
        print('')
        print('Returned Row:')
        print(row)
        print('')
        print("<----------------------------------->")
        print('')
        break

i = 0

Returned Row:
id                                 1
zh_name                          殷葦婷
en_name                          NaN
gender                           NaN
birthday                         NaN
age                              NaN
email            13816630288@163.con
zip_code                        20.0
region                            CN
county                           上海市
district                         NaN
address      中國大陸上海市長寧區香花橋路38弄7號401室
cell                             NaN
tele                     13816630288
id_num                           NaN
last_edit                        NaN
bye                                1
note                          NULL\r
Name: 0, dtype: object

<----------------------------------->

i = 1

Returned Row:
id                            2
zh_name                     郭敬子
en_name                     NaN
gender                      1.0
birthday                    NaN
age                         NaN
email        jimkuo49@gmail.com
zip_code                  200.0
region                       TW
county                      基隆市
district                    仁愛區
address          基隆市仁愛區愛七路53號3樓
cell                  918136219
tele                        NaN
id_num                      NaN
last_edit                   NaN
bye                           1
note                     NULL\r
Name: 1, dtype: object

<----------------------------------->

i = 2

Returned Row:
id                                 3
zh_name                          陳仕俍
en_name                          NaN
gender                           NaN
birthday                         NaN
age                              NaN
email        gelintex@ms27.hinet.net
zip_code                       205.0
region                            TW
county                           基隆市
district                         暖暖區
address             基隆市暖暖區暖碇路169號11樓
cell                       920521092
tele                     02-24573016
id_num                           NaN
last_edit                        NaN
bye                                1
note                          NULL\r
Name: 2, dtype: object

<----------------------------------->

In [23]:
import pandas as pd
import numpy as np

df1=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test.csv")
df2=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test_new.csv")

df_original=pd.DataFrame(df1)
df_new=pd.DataFrame(df2)

df_original.update(df_new)
df_original

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,1,殷葦婷,we-ting,NaN,NaN,NaN,13816630288@163.con,20.0,CN,上海市,NaN,中國大陸上海市長寧區香花橋路38弄7號401室,NaN,13816630288,NaN,NaN,1,NULL\r
1,2,郭敬子,NaN,1.0,NaN,NaN,jimkuo49@gmail.com,200.0,TW,基隆市,仁愛區,基隆市仁愛區愛七路53號3樓,918136219,NaN,NaN,NaN,1,NULL\r
2,3,陳仕俍,NaN,NaN,1993/10/3,NaN,gelintex@ms27.hinet.net,205.0,TW,基隆市,暖暖區,基隆市暖暖區暖碇路169號11樓,920521092,02-24573016,NaN,NaN,1,NULL\r
3,4,郭珈郗,NaN,2.0,NaN,NaN,grcekwk@gmail.com,NaN,HK,NaN,NaN,香港九龍官塘順安村安群樓514室,NaN,(+852)35929419,NaN,NaN,1,NULL\r
4,5,陸大文,NaN,1.0,1954/5/26,NaN,humphrey,105.0,TW,台北市,松山區,台北市松山區復興北路99號3樓,0918-032-920,02-25478801,A101653944,NaN,1,NULL\r
5,6,鄧淑珠,NaN,NaN,1962/5/10,NaN,terideng@scu.edu.tw,100.0,TW,台北市,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,NULL\r

In [52]:
import pandas as pd
import numpy as np

df1=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test.csv")
df2=pd.read_csv("/Users/humphreyshen/Desktop/2021 Database Project/總表下載數據/2000筆資料自動化更新_test_new.csv")

df_original=pd.DataFrame(df1)
df_new=pd.DataFrame(df2)

for i in df_original.index:
    if df_original.at[i, "gender"]==1:
        df_original.at[i, "gender"] = 3
    
df_original

,id,zh_name,en_name,gender,birthday,age,email,zip_code,region,county,district,address,cell,tele,id_num,last_edit,bye,note
0,1,殷葦婷,NaN,NaN,NaN,NaN,13816630288@163.con,20.0,CN,上海市,NaN,中國大陸上海市長寧區香花橋路38弄7號401室,NaN,13816630288,NaN,NaN,1,NULL\r
1,2,郭敬子,NaN,3.0,NaN,NaN,jimkuo49@gmail.com,200.0,TW,基隆市,仁愛區,基隆市仁愛區愛七路53號3樓,918136219,NaN,NaN,NaN,1,NULL\r
2,3,陳仕俍,NaN,NaN,NaN,NaN,gelintex@ms27.hinet.net,205.0,TW,基隆市,暖暖區,基隆市暖暖區暖碇路169號11樓,920521092,02-24573016,NaN,NaN,1,NULL\r
3,4,郭珈郗,NaN,NaN,NaN,NaN,grcekwk@gmail.com,NaN,HK,NaN,NaN,香港九龍官塘順安村安群樓514室,NaN,(+852)35929419,NaN,NaN,1,NULL\r
4,5,陸大文,NaN,3.0,1954/5/26,NaN,kathyhung168@gmail.com,105.0,TW,台北市,松山區,台北市松山區復興北路99號3樓,0918-032-920,02-25478801,A101653944,NaN,1,NULL\r
5,6,鄧淑珠,NaN,NaN,1962/5/10,NaN,terideng@scu.edu.tw,100.0,TW,台北市,中正區,台北市中正區貴陽街一段56號東吳大學會計辦公室,918868586,NaN,A221625395,NaN,1,NULL\r